<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <h2 class="footer__title title">Статьи каждую неделю</h2>
      <p class="footer__descr">Больше 90% учеников прошли полный курс и смогли собрать свой первый компьютер</p>
      <form class="footer__form">
        <input type="email" class="footer__input" placeholder="E-mail" required>
        <button class="footer__button button">Подписаться</button>
      </form>
      <div class="footer__socials-wrap">
        <ul class="footer__socials">
            <li class="footer__socials-item"><a href="#" class="footer__socials-link"></a></li>
            <li class="footer__socials-item"><a href="#" class="footer__socials-link"></a></li>
            <li class="footer__socials-item"><a href="#" class="footer__socials-link"></a></li>
            <li class="footer__socials-item"><a href="#" class="footer__socials-link"></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>