* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto";
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--primary-text-color);
  background-color: var(--body-bg-color);
}

ul {
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

.title {
  font-weight: bold;
  font-size: 48px;
  line-height: 67.2px;

  @include breakpoint(lg) {
    font-size: 36px;
  }

  @include breakpoint(md) {
    font-size: 28px;
  }

  @include breakpoint(sm) {
    font-size: 20px;
    line-height: 30px;
  }
}

.scroll-hidden {
  overflow: hidden;
}
