.timer {
  margin-bottom: 218px;

  @include breakpoint(md) {
    margin-bottom: 175px;
  }

  @include breakpoint(sm) {
    margin-bottom: 125px;
  }

  &__item {
    margin: 0 var(--gutter);
    padding: 20px 30px;
    background-color: var(--second-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;

    @include breakpoint(md) {
      padding: 15px 25px;
    }

    @include breakpoint(sm) {
      padding: 10px 10px;
    }
  }

  &__number {
    font-weight: 700;
    font-size: 36px;
    line-height: 140%;

    @include breakpoint(md) {
      font-size: 24px;
    }

    @include breakpoint(sm) {
      font-size: 18px;
    }
  }

  &__unit {
    margin: 0;
    opacity: 0.4;

    @include breakpoint(md) {
      font-size: 18px;
    }

    @include breakpoint(sm) {
      font-size: 12px;
    }
  }
}
