.partners {
  &__inner {
    padding: 80px 0;
  }

  &__box {
    display: flex;
    align-items: center;
    margin-bottom: 80px;

    @include breakpoint(sm) {
      margin-bottom: 40px;
    }
  }

  &__image-wrap {
    @include col;
    margin-right: 50px;

    @include breakpoint(lg) {
      margin-right: 30px;
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }

  &__item {
    @include size(3/12);
    padding: 30px 66px;
    width: 25%;
    border-right: 1px solid var(--bottom-border-color);
    &:nth-child(-n+4) {
      border-bottom: 1px solid var(--bottom-border-color);
    }
    &:nth-child(4n) {
      border-right: 1px solid transparent;
    }

    @include breakpoint(md) {
      @include size(6/12);
      border-bottom: 1px solid var(--bottom-border-color);
      border-right: 1px solid var(--bottom-border-color);
      &:nth-child(even) {
        border-right: 1px solid transparent;
      }
      &:nth-child(n+7) {
        border-bottom: 1px solid transparent;
      }
    }

    @include breakpoint(sm) {
      @include size(12/12);
      border-bottom: 1px solid var(--bottom-border-color);
      border-right: 1px solid transparent;
      &:nth-child(n+7) {
        border-bottom: 1px solid var(--bottom-border-color);
      }
    }

  }
}