.promo {
  background: center / cover no-repeat url(../img/promo/promo_bg.png);
  &__inner {
    padding: 270px 0 0;
  }

  &__title {
    font-weight: bold;
    font-size: 64px;
    line-height: 140%;

    @include breakpoint(md) {
      font-size: 48px;
    }

    @include breakpoint(sm) {
      font-size: 26px;
      margin-bottom: 40px;
    }
  }

  &__wrap {
    background-color: var(--second-bg-color);
  }

  &__box {
    padding: 35px 0 28px;
    display: flex;
    justify-content: space-between;

    @include breakpoint(lg) {
      flex-direction: column;
    }

    @include breakpoint(md) {
    }
  }

  &__holder {
    display: flex;
    justify-content: space-between;
    width: 40%;

    @include breakpoint(lg) {
      margin-bottom: 50px;
      display: grid;
      grid-template-columns: repeat(2, auto);
      grid-column-gap: 40px;
      justify-content: center;
      width: 100%;
    }

    @include breakpoint(sm) {
      grid-template-columns: auto;
      grid-template-rows: repeat (2, auto);
      grid-row-gap: 40px;
    }
  }

  &__button {
    background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
  }

  &__counts {
    display: grid;
    grid-row-gap: 10px;
  }

  &__count {
    display: flex;
    justify-content: space-between;
  }

  &__count-name {
    opacity: 0.4;
  }

  &__count-number {
    padding-left: 30px;
  }

  &__wrapper {
    width: 50%;

    @include breakpoint(lg) {
      padding: 0 40px;
      width: 100%;
    }

    @include breakpoint(sm) {
      padding: 0;
    }
  }

  &__earned {
    margin-bottom: 8px;

    @include breakpoint(sm) {
      margin-bottom: 30px;
      display: grid;
      grid-template-rows: repeat(2, auto);
      grid-row-gap: 20px;
      justify-content: center;
    }
  }

  &__earned-name {
    opacity: 0.4;
  }

  &__earned-count {
    padding-left: 30px;

    @include breakpoint(sm) {
      text-align: center;
      padding-left: 0;
    }
  }

  &__progress {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__line-wrap {
    margin-bottom: 5px;
    height: 6px;
    width: 100%;
    background-color: #ffffff;
  }

  &__line {
    width: 65%;
    height: 6px;
    background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
  }

  &__numbers {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__price {
    opacity: 0.4;
  }
}
