.start {
  &__inner {
    padding: 100px 0;
    @include breakpoint(md) {
      padding: 50px;
    }
  }

  &__title {
    &::before {
      content: url("../img/section-logo.svg");
      display: inline-block;
      vertical-align: middle;
      padding-right: 30px;
    }
  }

  &__subtitle {
    margin-bottom: 80px;
    font-weight: normal;
    font-size: 16px;
    line-height: 25.6px;

    @include breakpoint(lg) {
      font-size: 14px;
    }
  }

  &__results {
    display: flex;
    @include breakpoint(md) {
      flex-direction: column-reverse;
      
      align-items: center;
    }

    .col {
      width: calc(100% / var(--col-count));
      @include breakpoint(md) {
        display: flex;
        align-items: center;
      }

      @include breakpoint(sm) {
        width: 50%;
      }
    }
  }

  &__parent {
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 30%;
    max-height: 80px;
    margin-bottom: 20px;
    @include breakpoint(md) {
      max-width: 80px;
      margin-bottom: 0;
      padding-bottom: 100%;
      padding-left: 30%;
      padding-right: 30%;
      justify-content: center;
    }
    &::after {
      position: absolute;
      top: 50%;
      width: 100%;
      content: "";
      background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
      height: var(--percent);
      transform: translatey(-50%);
      @include breakpoint(md) {
        width: var(--percent);
        height: 100%;
      }
    }
    &::before {
      content: attr(data-percent);
      position: absolute;
      top: -30px;
      @include breakpoint(md) {
        top: 50%;
        left: -50px;
        transform: translate(-50%);
      }
    }
  }

  &__text {
    @include breakpoint(md) {
      margin: 0;
      padding-left: 30px;
      font-size: 12px;
    }
  }
}
